body {
    overflow-x: hidden;
    background-color: #fff4c2;
}

.logo {
    height: auto;
    width: 50% !important;
    float: right;
}

.web_name {
    font-size: 300%;
    font-weight: 750 !important;
    text-align: cener;
    color:#745138;
}

.header-page {
    /* border: 3px solid #5f2d06  !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important; */
    /* background-image: radial-gradient(circle, #1cb5e0, #0087c0, #005a9c, #002f73, #000046); */
    /* background-image: radial-gradient(circle, #ffbd8e, #f3b68b, #e7af87, #dba984, #cfa281, #c69978, #bd9070, #b48767, #ab7a57, #a16d47, #986037, #8e5327); */
 background-color: #d6b27b;
}

.carousel_block{
    margin: 2% 0%;
}
.navbar-toggler{
    float: right !important;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%; 
    
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.nav-link {
    font-size: 90%;
    font-weight: 600; 
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-link:hover{
    text-decoration: none;
    color: wheat;
}

.nav_button {
    border: none;
    box-shadow: 2px 2px white;
    width: 120%; 
    /* background-image: radial-gradient(circle, #1cb5e0, #0087c0, #005a9c, #002f73, #000046);
    background-image: radial-gradient(circle, #ffa9a3, #fe9c97, #fc908b, #fa8380, #f87575);
    background-image: linear-gradient(to right bottom,#4ade80,#3b82f6); */
    padding: 5px 10px;
    background-color: #70503a;
    border-radius: 8%;
}

.active-nav {
    border-radius: 8%;
    text-decoration: none;
    border: none;
    transform: scale(1.95);
}

.donate_img {
    width: 10%;
}

.proverb_txt{
    text-align: center;
    color: grey;
    font-size: 120%;
}
/* cirpi education styles */

.education_box{
    /* background-image: radial-gradient(circle, #1cb5e0, #005a9c, #002f73);
     */
     /* background-image: radial-gradient(circle, #ffbd8e, #f3b68b, #e7af87, #dba984, #cfa281, #c69978, #bd9070, #b48767, #ab7a57, #a16d47, #986037, #8e5327); */
    color: antiquewhite;
    background-color: #d6b27b;
    
}

.education_head_txt{
    text-align: center;
    color:#745138;

}

.education_txt{
    text-align: justify;
    color:#9C6137;
    padding: 2%;
}

.education_img{
    width: 90%;
    padding-bottom: 2%;
}

/* ----------------------------------------------------------------------------------------------- */

/* board members styles */

.profile_logo{
    display: flex;
    width: 150%;
    justify-content: center !important;
}

.board_name{
    font-weight:700;
    color:#745138;
    text-align: center;
}

.media_content_block{
    margin: 2%;
}
.board_para_head1 {
    font-size: 200%;
    font-weight:550;
    color: #745138;
}

.board_para_head2{
    font-size: 150%;
    color: #745138;
    
}
.board_para_text{
    color:#9C6137;
    display: flex;
    text-align: justify;
}

.board_title{
    font-size: 300%;
    font-weight:700;
    max-width: fit-content;
    margin: 2% auto;
    background-color: #ffbd8e;
    border: none;
    color:#745138;
    padding: 1% 2%;
    border-radius: 20px;

}

/* --------------------------------------------------------------------------------- */

.footer_page {
    padding-bottom: 1%;
    border: 3px solid #5f2d06  !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    /* background-color: #6daefb; */
    /* background-image: radial-gradient(circle, #1cb5e0, #0087c0, #005a9c, #002f73, #000046); */
    /* background-image: radial-gradient(circle, #ffbd8e, #f3b68b, #e7af87, #dba984, #cfa281, #c69978, #bd9070, #b48767, #ab7a57, #a16d47, #986037, #8e5327); */
    background-color: #d6b27b;
}

.education_pic {
    height: 100%;
    width: 100%;
}

.social_icon {
    list-style: none;
    display: flex;
    gap: 1%;
    justify-content: center;
    margin-top: 3%;
}

.social_media_icon {
    color: black;
    font-size: 200%;
}
