body{
    overflow-x: hidden;
}
.logo{
    height: 10%;
    width: 15%;
}
.graduation_img{
    height: 10%;
    width: 100%;
}
.navbar{
    gap: 10%;
    background-color: rgb(255, 255, 255);
}
.nav-link{
    font-size:110%;
    font-weight: 450;
    color: gray;
   
}
.nav-link:hover{
   font-weight: 500;
}
.donate_img{
    width: 8%;
}
.proverb{
    color: gray;
    font-size: xx-large;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.footer_page{
    padding-bottom: 3%;
    background-color:rgb(222, 230, 233);
}
.education_pic{
    height:100%; 
    width: 100%;
}
.card-body {
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card {
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 120%;
    width: 80%;
}
.board_member{
    width: 100%;
}
.lecture_img{
    width: 100%;
}
.board_name{
    color: gray;
    font-size: xx-large;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
.board_col{
    text-align: center;
}

.social_media_icon{
    color: black;
    font-size: 200%;
}
.footer_logo{
    height: 50%;
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
}
 .quick-explore{
    margin-top: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-decoration: none;
 }
 .quick-explore a:hover{
    text-decoration: none;
    color:rgb(43, 138, 170);
 }
 .quick-explore a{
    color: gray;
    padding: 2%;
 }
 .address{
    margin-top: 5%;
    margin-left: 10%;
 }
 .social_icon{
    padding-left: 10%;
 }
 .call_icon{
    display: flex;
    align-items: center;
 }
 .call_icon i{
    margin-right: 5%;
 }
 .contact_head{
    margin-top: 20%;
 }
.social_media_head{
    margin-top: 20%;
}